---
import Rated from "./Rated.astro";
---
<div class="flex flex-col gap-4  w-full">
    <Rated text="Rated 5 Starts in Reviews"
    style="lg:mr-32"/>
    <Rated text="Rated 5 Starts in Report Guru" 
    style="lg:mr-16 lg:ml-16"/>
    <Rated text="Rated 5 Starts in BestTech"
    style="lg:ml-32"/>
</div>